<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"
        integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg=="
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
    <title>to-do list</title>
</head>

<body>
    <div class="tq">
        <div class="text">   </div>
    </div>

    

    <div class="box date" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
        <h1>
            <%= kindOfTime %>
        </h1>
    </div>


    <div class="box todolist">
        <% for( var i=0; i<newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox" class="css-checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <% } %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="Enter a New Item" autocomplete="off" id="task" >
                    <button type="submit" name="button" id="btn">+</button>
                </form>
    </div>


</body>

<script>
    var typing = new Typed(".text", {
        strings: [" Big journeys begin with small steps."," There is no substitute for hard work."," You gonna rock the world", " Keep on Grinding", "Never Stop Hustling", "You are the best","Work hard, have fun, and make history."],
        typeSpeed: 100,
        backSpeed: 40,
        loop: true,
    });
</script>



</html>